In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as plt

In [2]:
df=pd.read_csv("../datasets/Online_Retail.csv",index_col='Unnamed: 0')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Country        541909 non-null  object
 1   CustomerID     406829 non-null  float64
 2   Description    540455 non-null  object
 3   InvoiceNo      541909 non-null  object
 4   Quantity       541909 non-null  float64
 5   StockCode      541909 non-null  object
 6   UnitPrice      541909 non-null  float64
 7   InvoiceDate_1  541909 non-null  object
dtypes: float64(3), object(5)
memory usage: 37.2+ MB

,Country,CustomerID,Description,InvoiceNo,Quantity,StockCode,UnitPrice,InvoiceDate_1
0,United Kingdom,17850.0,WHITE HANGING HEART T-LIGHT HOLDER,536365.0,6.0,85123A,2.55,2010-12-01 08:26:00
1,United Kingdom,17850.0,WHITE METAL LANTERN,536365.0,6.0,71053.0,3.39,2010-12-01 08:26:00
2,United Kingdom,17850.0,CREAM CUPID HEARTS COAT HANGER,536365.0,8.0,84406B,2.75,2010-12-01 08:26:00
3,United Kingdom,17850.0,KNITTED UNION FLAG HOT WATER BOTTLE,536365.0,6.0,84029G,3.39,2010-12-01 08:26:00
4,United Kingdom,17850.0,RED WOOLLY HOTTIE WHITE HEART.,536365.0,6.0,84029E,3.39,2010-12-01 08:26:00

In [3]:
df.describe(include='all')

,Country,CustomerID,Description,InvoiceNo,Quantity,StockCode,UnitPrice,InvoiceDate_1
count,541909,406829.000000,540455,541909,541909.000000,541909,541909.000000,541909
unique,38,NaN,4223,25900,NaN,4070,NaN,23260
top,United Kingdom,NaN,WHITE HANGING HEART T-LIGHT HOLDER,573585.0,NaN,85123A,NaN,2011-10-31 14:41:00
freq,495478,NaN,2369,1114,NaN,2313,NaN,1114
mean,NaN,15287.690570,NaN,NaN,9.552250,NaN,4.611114,NaN
std,NaN,1713.600303,NaN,NaN,218.081158,NaN,96.759853,NaN
min,NaN,12346.000000,NaN,NaN,-80995.000000,NaN,-11062.060000,NaN
25%,NaN,13953.000000,NaN,NaN,1.000000,NaN,1.250000,NaN
50%,NaN,15152.000000,NaN,NaN,3.000000,NaN,2.080000,NaN
75%,NaN,16791.000000,NaN,NaN,10.000000,NaN,4.130000,NaN
max,NaN,18287.000000,NaN,NaN,80995.000000,NaN,38970.000000,NaN

In [4]:
df["Description"]

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [5]:
df["Description"]=df["Description"].str.strip() # remove extra spaces from both sides
df["Description"]=df["Description"].str.lower() #to lower case
df["Description"] = df['Description'].str.replace('[^\w\s]','') # to remove Punctuation

In [6]:
df["Description"]

0           white hanging heart tlight holder
1                         white metal lantern
2              cream cupid hearts coat hanger
3         knitted union flag hot water bottle
4               red woolly hottie white heart
                         ...
541904            pack of 20 spaceboy napkins
541905             childrens apron dolly girl
541906           childrens cutlery dolly girl
541907        childrens cutlery circus parade
541908           baking set 9 piece retrospot
Name: Description, Length: 541909, dtype: object

In [7]:
df['InvoiceNo'].sort_values()

0         536365.0
1         536365.0
2         536365.0
3         536365.0
4         536365.0
            ...
540449     C581490
541541     C581499
541715     C581568
541716     C581569
541717     C581569
Name: InvoiceNo, Length: 541909, dtype: object

In [8]:
def clean_invoice(invoice):
    invoice=invoice.replace('.','')
    if invoice.isalnum():
        return int(invoice[1:])
    return int(invoice)

In [9]:
df['InvoiceNo'] = df['InvoiceNo'].apply(clean_invoice)

In [10]:
df['InvoiceNo'].sort_values()

0         363650
1         363650
2         363650
3         363650
4         363650
           ...
541896    815870
541895    815870
541907    815870
541900    815870
541908    815870
Name: InvoiceNo, Length: 541909, dtype: int64

In [11]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [12]:
countryfilter=df['Country']=='Australia'
df[countryfilter]

,Country,CustomerID,Description,InvoiceNo,Quantity,StockCode,UnitPrice,InvoiceDate_1
197,Australia,12431.0,christmas lights 10 reindeer,363890,6.0,22941.0,8.50,2010-12-01 10:03:00
198,Australia,12431.0,vintage union jack cushion cover,363890,8.0,21622.0,4.95,2010-12-01 10:03:00
199,Australia,12431.0,vintage heads and tails card game,363890,12.0,21791.0,1.25,2010-12-01 10:03:00
200,Australia,12431.0,set of 3 coloured flying ducks,363890,6.0,35004C,5.45,2010-12-01 10:03:00
201,Australia,12431.0,set of 3 gold flying ducks,363890,4.0,35004G,6.35,2010-12-01 10:03:00
...,...,...,...,...,...,...,...,...
497681,Australia,12388.0,paper chain kit 50s christmas,784590,20.0,22086.0,2.95,2011-11-24 12:30:00
497682,Australia,12388.0,noel garland painted zinc,784590,24.0,22340.0,0.39,2011-11-24 12:30:00
497683,Australia,12388.0,swallow wooden christmas decoration,784590,20.0,22576.0,0.85,2011-11-24 12:30:00
497684,Australia,12388.0,advent calendar gingham sack,784590,12.0,22580.0,5.95,2011-11-24 12:30:00
497685,Australia,12388.0,red baby bunting,784590,12.0,22669.0,2.95,2011-11-24 12:30:00

In [13]:
uk_df=df[countryfilter].groupby(['InvoiceNo','Description'])['Quantity'].sum()
uk_df

InvoiceNo  Description
363890     alarm clock bakelike green              4.0
           alarm clock bakelike red                4.0
           blackblue polkadot umbrella             3.0
           blue diner wall clock                   2.0
           christmas lights 10 reindeer            6.0
                                                  ...
784590     paper chain kit 50s christmas          20.0
           paper chain kit vintage christmas      20.0
           red baby bunting                       12.0
           star decoration painted zinc           96.0
           swallow wooden christmas decoration    20.0
Name: Quantity, Length: 1256, dtype: float64

In [14]:
pivotdata=uk_df.unstack()
pivotdata

Description,10 colour spaceboy pen,12 pencil small tube woodland,12 pencils tall tube posy,12 pencils tall tube red retrospot,16 piece cutlery set pantry design,20 dolly pegs retrospot,3 hook hanger magic garden,3 stripey mice feltcraft,3 tier cake tin green and cream,3 tier cake tin red and cream,...,wrap doiley design,wrap dolly girl,wrap english rose,wrap i love london,wrap poppies design,wrap red apples,wrap red vintage doily,wrap vintage leaf design,wrap wedding day,yellow giant garden thermometer
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
363890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376760,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pivotdata.fillna(0,inplace=True)
pivotdata

Description,10 colour spaceboy pen,12 pencil small tube woodland,12 pencils tall tube posy,12 pencils tall tube red retrospot,16 piece cutlery set pantry design,20 dolly pegs retrospot,3 hook hanger magic garden,3 stripey mice feltcraft,3 tier cake tin green and cream,3 tier cake tin red and cream,...,wrap doiley design,wrap dolly girl,wrap english rose,wrap i love london,wrap poppies design,wrap red apples,wrap red vintage doily,wrap vintage leaf design,wrap wedding day,yellow giant garden thermometer
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
363890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376760,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
394190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
402670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
402800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
744690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
763940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
765860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
784590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
def hot_encoder(val):
    if val >= 1:
        return 1
    return 0

In [17]:
pivotdata=pivotdata.applymap(hot_encoder)

In [18]:
pivotdata

Description,10 colour spaceboy pen,12 pencil small tube woodland,12 pencils tall tube posy,12 pencils tall tube red retrospot,16 piece cutlery set pantry design,20 dolly pegs retrospot,3 hook hanger magic garden,3 stripey mice feltcraft,3 tier cake tin green and cream,3 tier cake tin red and cream,...,wrap doiley design,wrap dolly girl,wrap english rose,wrap i love london,wrap poppies design,wrap red apples,wrap red vintage doily,wrap vintage leaf design,wrap wedding day,yellow giant garden thermometer
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
363890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376760,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
394190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
402670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
402800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
744690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
763940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
765860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
784590,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
from mlxtend.frequent_patterns import apriori,association_rules

In [28]:
item_freq=apriori(pivotdata,min_support=.05,use_colnames=True)

item_freq.sort_values(by='support',ascending=False)

      support                                           itemsets
49   0.130435                    (red toadstool led night light)
59   0.130435                 (set of 3 cake tins pantry design)
27   0.115942                          (lunch bag red retrospot)
54   0.115942                  (roses regency teacup and saucer)
28   0.115942                        (lunch bag spaceboy design)
..        ...                                                ...
79   0.057971  (baking set 9 piece retrospot, regency sugar b...
78   0.057971  (lunch bag red retrospot, baking set 9 piece r...
76   0.057971   (alarm clock bakelike red, red diner wall clock)
75   0.057971  (alarm clock bakelike green, red diner wall cl...
188  0.057971  (spaceboy lunch box, dolly girl lunch box, ros...

[189 rows x 2 columns]

In [29]:
arule=association_rules(item_freq,metric='lift',min_threshold=1)
arule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(36 pencils tube red retrospot),(red retrospot cake stand),0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
1,(red retrospot cake stand),(36 pencils tube red retrospot),0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
2,(36 pencils tube red retrospot),(set of 3 cake tins pantry design),0.057971,0.130435,0.057971,1.000000,7.666667,0.05041,inf
3,(set of 3 cake tins pantry design),(36 pencils tube red retrospot),0.130435,0.057971,0.057971,0.444444,7.666667,0.05041,1.695652
4,(4 traditional spinning tops),(set of 6 soldier skittles),0.072464,0.101449,0.057971,0.800000,7.885714,0.05062,4.492754
...,...,...,...,...,...,...,...,...,...
795,(dolly girl lunch box),"(spaceboy lunch box, roses regency teacup and ...",0.086957,0.057971,0.057971,0.666667,11.500000,0.05293,2.826087
796,(roses regency teacup and saucer),"(spaceboy lunch box, dolly girl lunch box, hom...",0.115942,0.057971,0.057971,0.500000,8.625000,0.05125,1.884058
797,(homemade jam scented candles),"(spaceboy lunch box, dolly girl lunch box, ros...",0.072464,0.057971,0.057971,0.800000,13.800000,0.05377,4.710145
798,(circus parade lunch box),"(spaceboy lunch box, dolly girl lunch box, ros...",0.072464,0.057971,0.057971,0.800000,13.800000,0.05377,4.710145
799,(regency cakestand 3 tier),"(spaceboy lunch box, dolly girl lunch box, ros...",0.086957,0.057971,0.057971,0.666667,11.500000,0.05293,2.826087

In [30]:
arule.sort_values(by=['lift','confidence'],ascending=[False,False],inplace=True)
arule.head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(36 pencils tube red retrospot),(red retrospot cake stand),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
1,(red retrospot cake stand),(36 pencils tube red retrospot),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
52,(feltcraft doll molly),(set of 4 pantry jelly moulds),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
53,(set of 4 pantry jelly moulds),(feltcraft doll molly),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
106,(set of 12 fairy cake baking cases),(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
107,(set of 12 mini loaf baking cases),(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
108,(set of 6 snack loaf baking cases),(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
109,(set of 12 fairy cake baking cases),(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
110,(set of 12 fairy cake baking cases),(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
111,(set of 6 tea time baking cases),(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
112,(set of 6 snack loaf baking cases),(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
113,(set of 12 mini loaf baking cases),(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
114,(set of 6 tea time baking cases),(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
115,(set of 12 mini loaf baking cases),(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
120,(set of 6 snack loaf baking cases),(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
121,(set of 6 tea time baking cases),(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
123,"(36 pencils tube red retrospot, set of 3 cake ...",(red retrospot cake stand),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
124,"(red retrospot cake stand, set of 3 cake tins ...",(36 pencils tube red retrospot),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
125,(36 pencils tube red retrospot),"(red retrospot cake stand, set of 3 cake tins ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
126,(red retrospot cake stand),"(36 pencils tube red retrospot, set of 3 cake ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
296,"(set of 6 snack loaf baking cases, set of 12 f...",(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
297,"(set of 6 snack loaf baking cases, set of 12 m...",(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
298,"(set of 12 fairy cake baking cases, set of 12 ...",(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
299,(set of 6 snack loaf baking cases),"(set of 12 fairy cake baking cases, set of 12 ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
300,(set of 12 fairy cake baking cases),"(set of 6 snack loaf baking cases, set of 12 m...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
301,(set of 12 mini loaf baking cases),"(set of 6 snack loaf baking cases, set of 12 f...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
302,"(set of 12 fairy cake baking cases, set of 6 t...",(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
303,"(set of 12 fairy cake baking cases, set of 12 ...",(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
304,"(set of 6 tea time baking cases, set of 12 min...",(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
305,(set of 12 fairy cake baking cases),"(set of 6 tea time baking cases, set of 12 min...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
306,(set of 6 tea time baking cases),"(set of 12 fairy cake baking cases, set of 12 ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
307,(set of 12 mini loaf baking cases),"(set of 12 fairy cake baking cases, set of 6 t...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
308,"(set of 6 snack loaf baking cases, set of 12 f...",(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
309,"(set of 6 snack loaf baking cases, set of 6 te...",(set of 12 fairy cake baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
310,"(set of 12 fairy cake baking cases, set of 6 t...",(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
311,(set of 6 snack loaf baking cases),"(set of 12 fairy cake baking cases, set of 6 t...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
312,(set of 12 fairy cake baking cases),"(set of 6 snack loaf baking cases, set of 6 te...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
313,(set of 6 tea time baking cases),"(set of 6 snack loaf baking cases, set of 12 f...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
314,"(set of 6 snack loaf baking cases, set of 6 te...",(set of 12 mini loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
315,"(set of 6 snack loaf baking cases, set of 12 m...",(set of 6 tea time baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
316,"(set of 6 tea time baking cases, set of 12 min...",(set of 6 snack loaf baking cases),0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
317,(set of 6 snack loaf baking cases),"(set of 6 tea time baking cases, set of 12 min...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
318,(set of 6 tea time baking cases),"(set of 6 snack loaf baking cases, set of 12 m...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
319,(set of 12 mini loaf baking cases),"(set of 6 snack loaf baking cases, set of 6 te...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
324,"(dolly girl lunch box, homemade jam scented ca...","(circus parade lunch box, regency cakestand 3 ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
329,"(circus parade lunch box, regency cakestand 3 ...","(dolly girl lunch box, homemade jam scented ca...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
338,"(dolly girl lunch box, homemade jam scented ca...","(circus parade lunch box, roses regency teacup...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
343,"(circus parade lunch box, roses regency teacup...","(dolly girl lunch box, homemade jam scented ca...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
408,"(homemade jam scented candles, roses regency t...","(circus parade lunch box, regency cakestand 3 ...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
409,"(circus parade lunch box, roses regency teacup...","(homemade jam scented candles, regency cakesta...",0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf

In [31]:
arule.antecedents=arule.antecedents.apply(lambda word: list(word)[0])
arule.consequents=arule.consequents.apply(lambda word: list(word)[0])

In [32]:
arule.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,36 pencils tube red retrospot,red retrospot cake stand,0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
1,red retrospot cake stand,36 pencils tube red retrospot,0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
52,feltcraft doll molly,set of 4 pantry jelly moulds,0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
53,set of 4 pantry jelly moulds,feltcraft doll molly,0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf
106,set of 12 fairy cake baking cases,set of 12 mini loaf baking cases,0.057971,0.057971,0.057971,1.0,17.25,0.05461,inf

In [34]:
f1 = arule['antecedents'] == '36 pencils tube red retrospot'
f2 = arule['consequents'] == '36 pencils tube red retrospot'
arule[f1|f2]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,36 pencils tube red retrospot,red retrospot cake stand,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
1,red retrospot cake stand,36 pencils tube red retrospot,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
123,36 pencils tube red retrospot,red retrospot cake stand,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
124,red retrospot cake stand,36 pencils tube red retrospot,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
125,36 pencils tube red retrospot,red retrospot cake stand,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
126,red retrospot cake stand,36 pencils tube red retrospot,0.057971,0.057971,0.057971,1.000000,17.250000,0.05461,inf
2,36 pencils tube red retrospot,set of 3 cake tins pantry design,0.057971,0.130435,0.057971,1.000000,7.666667,0.05041,inf
122,36 pencils tube red retrospot,set of 3 cake tins pantry design,0.057971,0.130435,0.057971,1.000000,7.666667,0.05041,inf
3,set of 3 cake tins pantry design,36 pencils tube red retrospot,0.130435,0.057971,0.057971,0.444444,7.666667,0.05041,1.695652
127,set of 3 cake tins pantry design,36 pencils tube red retrospot,0.130435,0.057971,0.057971,0.444444,7.666667,0.05041,1.695652