In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv('../datasets/50_Startups.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [3]:
state_enc = OneHotEncoder(drop='first')
dummy_states = state_enc.fit_transform(df[['State']]).toarray()
state_dummies = pd.DataFrame(dummy_states)
df = pd.concat([df,state_dummies],axis=1)
df.drop(['State'],axis=1,inplace=True)
df.head()

   R&D Spend  Administration  Marketing Spend     Profit    0    1
0  165349.20       136897.80        471784.10  192261.83  0.0  1.0
1  162597.70       151377.59        443898.53  191792.06  0.0  0.0
2  153441.51       101145.55        407934.54  191050.39  1.0  0.0
3  144372.41       118671.85        383199.62  182901.99  0.0  1.0
4  142107.34        91391.77        366168.42  166187.94  1.0  0.0

In [4]:
feature_cols  = ['R&D Spend','Administration','Marketing Spend',0,1]
X = df[feature_cols]
y = df['Profit']

In [5]:
X.describe()

           R&D Spend  Administration  Marketing Spend          0          1
count      50.000000       50.000000        50.000000  50.000000  50.000000
mean    73721.615600   121344.639600    211025.097800   0.320000   0.340000
std     45902.256482    28017.802755    122290.310726   0.471212   0.478518
min         0.000000    51283.140000         0.000000   0.000000   0.000000
25%     39936.370000   103730.875000    129300.132500   0.000000   0.000000
50%     73051.080000   122699.795000    212716.240000   0.000000   0.000000
75%    101602.800000   144842.180000    299469.085000   1.000000   1.000000
max    165349.200000   182645.560000    471784.100000   1.000000   1.000000

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()
scaledX = scaler.fit_transform(X)
pd.DataFrame(scaledX).describe() # temp output

                  0             1             2             3             4
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean   1.199041e-16 -2.919887e-16 -9.325873e-17 -7.549517e-17 -1.021405e-16
std    1.010153e+00  1.010153e+00  1.010153e+00  1.010153e+00  1.010153e+00
min   -1.622362e+00 -2.525994e+00 -1.743127e+00 -6.859943e-01 -7.177406e-01
25%   -7.434983e-01 -6.350458e-01 -6.750713e-01 -6.859943e-01 -7.177406e-01
50%   -1.475621e-02  4.885871e-02  1.396931e-02 -6.859943e-01 -7.177406e-01
75%    6.135700e-01  8.471792e-01  7.305723e-01  1.457738e+00  1.393261e+00
max    2.016411e+00  2.210141e+00  2.153943e+00  1.457738e+00  1.393261e+00